<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="{{ '/' | relative_url }}">
    <img src="{{ site.darkavatar | relative_url }}" alt="dark avatar" width="30" class="d-inline-block align-top m-0 dark-avatar">
      {{ site.name }}</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{ item.link | relative_url }}" {% if page.url == item.link %} class="nav-link active" {% else %} class="nav-link" {% endif %}>{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>


     <!-- Right Navigation Bar / Recent Projects -->
     <nav class="right-column">
      <h3>Recent Projects</h3>
      <h4><a href="#project5">Project 5</a></h4>
      <p>Project Description</p>
      <br>
      <h4><a href="#project6">Project 6</a></h4>
      <p>Project Description</p>
  </nav>