/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Body styles */
body {
  background-color: darkgray;
  color: black;
  font-family: 'Consolas', monospace;
  text-align: center;
  padding: 50px 200px 500px; /* Top Right Bottom Left */
}

/* Change the title color */
h3 {
  color: #0000aa; /* Set title color */
}

/* Banner styles */
header {
  width: 90%; /* Set a relative width for the header */
  max-width: 1000px; /* Set a maximum width to prevent excessive expansion */
  margin: 0 auto; /* Center the header horizontally */
  background-color: #cccccc;
  color: grey;
}

/* Navigation Bar styles */
.navbar {
  text-align: center;
  color: #fff;
  padding: 10px; /* Add padding to the navbar */
}
.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

/* Main Content Container styles */
.content-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between columns */
}

.center-column {
  width: 80%; /* Set a relative width for the center column */
  max-width: 800px; /* Set a maximum width to prevent excessive expansion */
  margin: 0 auto; /* Center the column horizontally */
  text-align: left;
  padding: 20px;
  background-color: #cccccc;
}

/* Container styles */
.container {
  width: 90%; /* Set a relative width for the container */
  max-width: 1000px; /* Set a maximum width to prevent excessive expansion */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  background-color: #cccccc;
  color: black;
  padding: 20px;
}

/* For paragraphs within the container */
body .container p {
  text-align: left; /* Align paragraphs to the left */
  margin-bottom: 15px; /* Add some space between paragraphs */
}

/* For lists within the container */
body .container ul,
body .container ol {
  text-align: left; /* Align lists to the left */
  padding-left: 20px; /* Add some left padding for better readability */
}

/* Footer styles */
footer {
  margin-top: 40px;
  background-color: #cccccc;
}

body .container .post-image-big {
  max-width: 100%;
  height: auto;
}

body .container .post-image-small {
  max-width: 100%;
  height: auto;
}

/* Navbar centerd wiht logo */
ul.navbar-nav.me-auto {
  padding-left: 20px;
}

@media (min-width: 768px) {
  body .container .project-image {
    width: 200px; /* Set the width to your desired size for larger screens */
    height: 80px; /* Set the height to your desired size for larger screens */
  }
}
  /* Media query for tablets */
@media (max-width: 768px) {
  body {
    padding: 50px 100px; /* Top Right Bottom Left */
  }

  .container {
    padding: 10px;
  }

  .content-container {
    flex-direction: column;
    justify-content: space-between;
  }
  body .container .project-image {
    max-width: 100%;
    height: auto;
  }
 

}
